<div class="row justify-content-center mt-4">
  <div class="col-md-5 mb-4">
    <div class="text-center mb-3">
      <h2 class="text-primary fw-bold">Uncompleted Tasks</h2>
    </div>
    @if (uncompletedTasks.length > 0 ) {
      @for (task of uncompletedTasks; track task.id) {
        <div class="card mb-3 shadow border-2 border-primary bg-light">
          <div class="card-body">
            <h5 class="card-title text-primary fw-semibold">{{ task.title }}</h5>
            <p class="card-text text-secondary fw-bold">{{ task.description }}</p>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary mx-3">Completed</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      }
    } @else {
      <div class="card text-center text-muted border-primary border-2 bg-light mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title text-primary">No tasks available</h5>
        </div>
      </div>
    }
  </div>

  <div class="col-md-5 mb-4">
    <div class="text-center mb-3">
      <h2 class="text-primary fw-bold">Completed Tasks</h2>
    </div>
    @if (completedTasks.length > 0 ) {
      @for (task of completedTasks; track task.id) {
        <div class="card mb-3 shadow border-2 border-primary bg-light">
          <div class="card-body">
            <h5 class="card-title text-primary fw-semibold">{{ task.title }}</h5>
            <p class="card-text text-secondary fw-bold">{{ task.description }}</p>
          </div>
        </div>
      }
    } @else {
      <div class="card text-center text-muted border-primary border-2 bg-light mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title text-primary">No completed tasks available</h5>
        </div>
      </div>
    }
  </div>
</div>
