<div class="abrir-modal">
  <div class="modal" style="display: block;" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseModal()"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class=""><input type="text" class="form-control my-3" placeholder="Task name"/></div>
            <div class=""><input type="text" class="form-control my-3" placeholder="Task description"/></div>
            <div class=""><input type="date" class="form-control my-3" placeholder="Due before"/></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="todo()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--(click)="closeModal()"-->
